<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.android.datafrominternet">

    <!-- Add internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="CareTaker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.android.datafrominternet.FrontEnd.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.RegistrationActivity"/>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.LoginActivity"/>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.MainActivity"/>

        <activity android:name="com.example.android.datafrominternet.FrontEnd.ContactActivity"/>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.OutputActivity" />
        <activity android:name="com.example.android.datafrominternet.FrontEnd.MeetActivity"/>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.CheckScaleActivity"/>
        <activity android:name="com.example.android.datafrominternet.FrontEnd.ResultActivity"/>

    </application>

</manifest>